
.row > div{
	background-color: #ddd;
	/*border: 1px #F24500 solid;*/
	padding: 10px;
	text-align: justify;
	margin-bottom: 10px;
}			

#header-nav
    {
    background-color: #40A1FF;

    }
 #brand{
 	color: white;	
    }

.navbar-default .navbar-toggle{
	border-width: 2px;
}

#top{
	position: absolute;
	top: 0px;
}
#nav-list{
	text-align: center;
}

#nav-list a:hover{
	background:#ddd;
}

body { 
	padding-top: 70px; 
}

p {
text-indent: 50px;
}

p > a{
	margin-top: 5px;
	float: right;
	font-size: 1.3em;
}

p > a:hover{
    text-decoration: none;
}

@media (min-width: 992px){

}

@media (min-width:768px) and (max-width: 991px){
}

@media (max-width: 767px){
#header-nav
    {
    position: relative;
    top: auto;
    }
body{
	padding-top: 0px; 
    }
}